.movie-item-block {
  display: inline-flex;
  border: 2px solid #333333;
  padding: 5px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-top: 5px;
}

.movie-item-block:hover {
  background-color: #8bf1ff;
}

.img-block {
  float: left;
  width: 185px;
  height: 275px;
  border: 1px solid #333333;
}

.list-image {
  width: 185px;
  height: 275px;
}

.details-block {
  width: 80%;
  float: right;
  padding-left: 3%;
  padding-right: 15px;
  text-align: left;
}
